In [33]:
import os
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

In [57]:
json_df = pd.read_json("./data_final.json")
# json_df[["HDI_male", "HDI_female"]][json_df["Year"]==1995]
json_df

,Country,Country_Code,Year,HDI_male,HDI_female,GDI
0,Afghanistan,AFG,2000,0.429,0.138,0.322
1,Afghanistan,AFG,2005,0.508,0.264,0.519
2,Afghanistan,AFG,2010,0.553,0.329,0.595
3,Afghanistan,AFG,2011,0.557,0.339,0.609
4,Afghanistan,AFG,2012,0.566,0.350,0.618
...,...,...,...,...,...,...
2065,Zimbabwe,ZWE,2016,0.581,0.538,0.927
2066,Zimbabwe,ZWE,2017,0.586,0.543,0.927
2067,Zimbabwe,ZWE,2018,0.591,0.548,0.927
2068,Zimbabwe,ZWE,2019,0.590,0.550,0.931
2069,Saint Vincent and the Grenadines,VCT,2019,0.750,0.724,0.965

In [47]:
# converting to datetime

json_df['Year'] =  pd.to_datetime(json_df['Year'], format='%Y')
json_df

,Country,Country_Code,Year,HDI_male,HDI_female,GDI
0,Afghanistan,AFG,2000-01-01,0.429,0.138,0.322
1,Afghanistan,AFG,2005-01-01,0.508,0.264,0.519
2,Afghanistan,AFG,2010-01-01,0.553,0.329,0.595
3,Afghanistan,AFG,2011-01-01,0.557,0.339,0.609
4,Afghanistan,AFG,2012-01-01,0.566,0.350,0.618
...,...,...,...,...,...,...
2065,Zimbabwe,ZWE,2016-01-01,0.581,0.538,0.927
2066,Zimbabwe,ZWE,2017-01-01,0.586,0.543,0.927
2067,Zimbabwe,ZWE,2018-01-01,0.591,0.548,0.927
2068,Zimbabwe,ZWE,2019-01-01,0.590,0.550,0.931
2069,Saint Vincent and the Grenadines,VCT,2019-01-01,0.750,0.724,0.965

In [56]:
countries = json_df['Country'].unique()
print(len(countries))
# print(countries)

170